{% load static %}
<!DOCTYPE html>
<html lang="en" class="mdc-typography">

  <head>
    <title>Select Routes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <script type='text/javascript'>
      var map, map1, infobox, mapoptions, curr_postion = 0,
        directionsManager,
        curr_title = 65;
      var pinInfobox = null;
      var positions_object = {}

      function GetMap() {
        map = new Microsoft.Maps.Map('#myMap', {});


        //Create an infobox at the center of the map but don't show it.
        infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
          visible: false
        });
        //Assign the infobox to a map instance.
        infobox.setMap(map);

        //Load the directions module.
        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function() {
          //Create an instance of the directions manager.
          directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
          let points = JSON.parse("{{ points|escapejs }}")
          //console.log(points)

          //Create waypoints to route between.
          for (let i in points) {
            let curr = points[i]
            let workWaypoint = new Microsoft.Maps.Directions.Waypoint({
              address: curr['title'],
              location: new Microsoft.Maps.Location(curr['latitude'], curr['longitude'])
            });
            directionsManager.addWaypoint(workWaypoint);
          }
          directionsManager.setRenderOptions({
            itineraryContainer: '#directionsItinerary'
          });
          directionsManager.calculateDirections();

        })
      }
    </script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AjfD6rIOrZC9XPdpoPVkrafHtwOubye2KUUoO_gqj9Q3cpaVQwxTwr-bJ9YUb7Q_' async defer></script>
  </head>

  <body>

    <div id="myMap" style="position:relative;"></div>
    <!-- To prepare an itenary of locations to be visited  -->
    <!-- <div id='directionsItinerary'></div> -->
  </body>

  <script>
    $(function() {
      $("#load").hide();
      $("#main1111").removeClass("blur");
    })
  </script>

</html>
